/********
 *HEADER*
*********/
/* on positionne horizontalement et verticalement nos deux elements et on utilise la propriété
"flex-direction: column" sur le parent de nos elements pour les mettres l'un au dessus de l'autre */
#header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/**********
 *BODY*
***********/
/* Le main_container va juste afficher chaque chanteur et son nom sur la même ligne "sur l’axe principale"
 et l'id container lui va permettre de contenir tout les chanteurs pour placer au centre en carré
 et la classe « singer_container » va quand a elle mettre le nom et l'image du chanteur
 l'un au dessus de l'autre et les centrés */
#container {
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.singer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Pour afficher les chanteurs en 2x2 */
#main_container {
  display: flex;
  justify-content: space-around;
}

/* *******
pour tester les autres exercices pensez a commenter dans le HTMl la div id container et ci dessus "#main_container" */

/* Pour inversés tout les chanteurs en colonne */
/* #main_container{
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
} */


/* Pour inversés tout les chanteurs en ligne */
/* #main_container{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
} */


/* Pour séparer tout nos chanteurs avec le meme espace entre
 chaque meme si on reduit la taille de la fenetre.
#main_container{
  display: flex;
  justify-content: space-around;
} */
/* ******* */


/*******
 *IMAGE*
********/
/* on fixe les tailles de nos differentes images et leur couleur*/
.Lennon {
  background-color: #26de81;
}

.McCartney {
  background-color: #a55eea;
}

.Harrison {
  background-color: #fd9644;
}

.Starr {
  background-color: #fc5c65;
}

/* on vise specifiquement toute les img dans la div avec un id #header */
#header img {
  object-fit: cover;
  height: 40vh;
  width: 100%;
}

#header h4 {
  font-size: 30px;
  margin: 20px;
}

#main_container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
  background-color: #f1c40f;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}