#header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#container {
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.singer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main_container {
  display: flex;
  justify-content: space-around;
}

.Lennon {
  background-color: #26de81;
}

.McCartney {
  background-color: #a55eea;
}

.Harrison {
  background-color: #fd9644;
}

.Starr {
  background-color: #fc5c65;
}

#header img {
  object-fit: cover;
  height: 40vh;
  width: 100%;
}

#header h4 {
  font-size: 30px;
  margin: 20px;
}

#main_container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body {
  background-color: #f1c40f;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}