.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 4rem 0;
}
.header {
  background-color: #021334;
  height: px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajouté ici */
  padding: 0 20px;
}



.logocontainer {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 10px;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}
